.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 3rem;
  display: grid;
  place-content: center;
  background-color: #020617;
  color: #f7f7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-beta-tag {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.875rem;
}

.hero-title {
  font-size: 6.25rem;
  line-height: 6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to bottom right, #fff, #9ca3af);
  background-clip: text;
  color: transparent;
}

.hero-subtitle {
  max-width: 36rem;
  font-size: 1rem;
  line-height: 1.625;
  margin-bottom: 1.5rem;
}

.hero-cta-button {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.375rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f7f7f7;
  transition-colors: 0.2s;
  cursor: pointer;
}

.hero-cta-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.hero-cta-icon {
  transition: transform 0.2s;
}

.hero-cta-button:hover .hero-cta-icon {
  transform: rotate(-45deg);
}

/* Modal Styles */
.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #333; /* Ensure text is visible on white background */
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure modal is above other content */
  padding-top: 60px; /* Add space for navbar */
  padding-bottom: 60px; /* Add space for footer */
  animation: fadeIn 0.5s ease-out; /* Add fade-in animation */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-cta-button {
    font-size: 0.875rem;
  }
}

.star-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.star {
  opacity: 0.7;
}


.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust opacity to blend with the gradient */
  z-index: 1;
  pointer-events: none; /* Makes clicks pass through to elements below */
}


.dots-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}